<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Seja muito bem vindo!</div>
      <div class="card-body">
        <iframe width="100%" height="315" src="https://www.youtube.com/watch?v=80SJ8XHqKqM&list=RDEMRJ_c22n-kcf5hXOLjq3msw&index=14" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="card-footer">
      <p>Aqui vamos ser onde vamos dar uma previa do que está falando no video de boas vindas!</p>
        <hr>
      </div>
    </div>
  </div>
</div>

<!---
<div class="row row-moises">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <img src="https://via.placeholder.com/200x200" alt="Imagem 1" width="200" height="200">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Prévia da Aula 1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <i class="nc-icon nc-button-play text-warning"></i> Play para Assistir
        </div>
      </div>
    </div>
  </div>

   Repita o mesmo padrão para os outros 3 cards

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <img src="https://via.placeholder.com/200x200" alt="Imagem 2" width="200" height="200">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Prévia da Aula 2</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <i class="nc-icon nc-button-play text-success"></i> Play para Assistir
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <img src="https://via.placeholder.com/200x200" alt="Imagem 3" width="200" height="200">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Prévia da Aula 3</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <i class="nc-icon nc-button-play text-danger"></i> Play para Assistir
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <img src="https://via.placeholder.com/200x200" alt="Imagem 4" width="500" height="200">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Prévia da Aula 4</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <i class="nc-icon nc-button-play text-primary"></i> Play para Assistir
        </div>
      </div>
    </div>
  </div>
</div>
-->
