<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="" [ngClass]="textColorClass">Início</a>
        </li>
        <li>
          <a href="" [ngClass]="textColorClass">Sobre nós</a>
        </li>
        <li>
          <a href="" [ngClass]="textColorClass">Contato</a>
        </li>
      </ul>
    </nav>
    <div class="footer-content">
      &copy; {{ currentYear }}, <a href="" [ngClass]="textColorClass">Miranda MKT</a>
    </div>
  </div>
</footer>
